<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div
      style="
        display: flex;
        justify-content: center;
        align-items: center;
        height: 20vh;
        margin-top: 20px;
      "
    >
      <table>
        <tr>
          <th>Id</th>
          <th>Nome</th>
          <th>Descrição</th>
        </tr>
        <tr *ngFor="let item of categorias">
          <td>{{ item.id }}</td>
          <td>{{ item.nome }}</td>
          <td>{{ item.descricao }}</td>
        </tr>
      </table>
    </div>

    <script>
      const toggleButton = document.querySelector("#mode-toggle");

      toggleButton.addEventListener("click", () => {
        document.body.classList.toggle("dark");
      });
    </script>
  </body>
</html>
