<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div style="display: flex; justify-content: center; align-items: center">
      <button
        pButton
        pRipple
        type="button"
        label="Adicionar Categoria"
        class="p-button-rounded"
        (click)="showModalDialogCreate()"
        style="background-color: #333; font-weight: bold"
      ></button>
      <p-dialog
        header="Adicionar Categoria"
        [(visible)]="displayModalCreate"
        [modal]="true"
        [style]="{ width: '50vw', height: '20em' }"
        [baseZIndex]="10000"
        [draggable]="false"
        [resizable]="false"
      >
        <span class="p-float-label" style="margin-top: 1.2em">
          <input
            id="float-input"
            type="text"
            style="width: 100%; border-color: #333"
            [(ngModel)]="nomeCategoria"
            pInputText
          />
          <label style="color: #333">Nome</label>
        </span>
        <span class="p-float-label" style="margin-top: 2em">
          <input
            id="float-input"
            type="text"
            style="width: 100%; border-color: #333"
            [(ngModel)]="descricaoCategoria"
            pInputText
          />
          <label style="color: #333">Descrição</label>
        </span>
        <ng-template pTemplate="footer">
          <button
            pButton
            pRipple
            type="button"
            label="Salvar"
            class="p-button-rounded"
            style="background-color: #333; font-weight: bold"
            (click)="create()"
          ></button>
        </ng-template>
      </p-dialog>
    </div>
    <div style="margin-top: 1em">
      <table>
        <tr>
          <th>Id</th>
          <th>Nome</th>
          <th>Descrição</th>
          <th>Ações</th>
        </tr>
        <tr *ngFor="let item of categorias">
          <td>{{ item.id }}</td>
          <td>{{ item.nome }}</td>
          <td>{{ item.descricao }}</td>
          <td>
            <button
              pButton
              pRipple
              type="button"
              icon="pi pi-pencil"
              class="p-button-rounded p-button-outlined"
              style="color: black"
              pTooltip="Editar"
              tooltipPosition="top"
              (click)="showModalDialogEdit(item)"
            ></button>
            <p-dialog
              header="Edição de Categoria"
              [(visible)]="displayModalEdit"
              [modal]="true"
              [style]="{ width: '50vw', height: '20em' }"
              [baseZIndex]="10000"
              [draggable]="false"
              [resizable]="false"
            >
              <span class="p-float-label" style="margin-top: 1.2em">
                <input
                  id="float-input"
                  type="text"
                  style="width: 100%; border-color: #333"
                  [(ngModel)]="nomeCategoria"
                  pInputText
                />
                <label style="color: #333">Nome</label>
              </span>
              <span class="p-float-label" style="margin-top: 2em">
                <input
                  id="float-input"
                  type="text"
                  style="width: 100%; border-color: #333"
                  [(ngModel)]="descricaoCategoria"
                  pInputText
                />
                <label style="color: #333">Descrição</label>
              </span>
              <ng-template pTemplate="footer">
                <button
                  pButton
                  pRipple
                  type="button"
                  label="Salvar"
                  class="p-button-rounded"
                  style="background-color: #333; font-weight: bold"
                  (click)="edit()"
                ></button>
              </ng-template>
            </p-dialog>

            <button
              pButton
              pRipple
              type="button"
              icon="pi pi-trash"
              class="p-button-rounded p-button-outlined"
              style="color: red"
              (click)="showModalDialogDelete(item.id)"
              pTooltip="Excluir"
              tooltipPosition="top"
            ></button>
            <p-dialog
              header="Tem certeza que deseja excluir?"
              [(visible)]="displayModalDelete"
              [modal]="true"
              [style]="{ width: '28vw', height: '10em' }"
              [baseZIndex]="10000"
              [draggable]="false"
              [resizable]="false"
            >
              <ng-template pTemplate="footer">
                <button
                  pButton
                  pRipple
                  type="button"
                  label="Sim"
                  class="p-button-rounded"
                  style="background-color: red; font-weight: bold"
                  (click)="delete()"
                ></button>
                <button
                  pButton
                  pRipple
                  type="button"
                  label="Não"
                  class="p-button-rounded"
                  style="background-color: #333; font-weight: bold"
                  (click)="showModalDialogDeleteClose()"
                ></button>
              </ng-template>
            </p-dialog>
          </td>
        </tr>
      </table>
    </div>
  </body>
</html>
