table {
    border-collapse: collapse;
    width: 75%;
  }
  th {
    background-color: #333;
    color: white;
    font-weight: bold;
    padding: 10px 15px;
    text-align: left;
  }
  
  td {
    border: 1px solid #c0c0c0;
    padding: 10px 15px;
    text-align: left;
  }
  
  tr:nth-child(even) {
    background-color: #dcdcdc;
  }

  .p-button.p-button-icon-only.p-button-rounded {
    width: 1.7em;
    height: 1.4em;
  }

  button {
    background-color: #0652DD;
    /* color: #dcdcdc; */
    border-color: #dcdcdc;
    margin-left: 4px;
  }

  